In [2]:
# list of the high schools in our data
# create a variable list type to hold the high school names 

high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

# iterate through the schools in the list
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [7]:
# create a dictionary for the schools by type 

high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
# iterate through the schools in our dictionary 
for schoolz in high_school_types:
    print(schoolz)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [8]:
# panda series method 
# list of the high schools in our data
# create a variable list type to hold the high school names 

high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

# add pandas dependency
import pandas as pd

# give our new dependency a shortened name/alias 
# assign variable school series to list of high schools 
# also used the pdseries method for alias 
school_series = pd.Series(high_schools)

# now we want to retrieve the created series from above 
school_series 

# output shows our list, indexed 0-3, and the datatype as an object

0    Hernandez High School
1     Figueroa High School
2       Wilson High School
3       Wright High School
dtype: object

In [9]:
# convert dictionaries to dataframe 
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

# convert the array/list of dictionaries from above to dataframe 
school_df =pd.DataFrame(high_school_dicts)

# retrive the created dataframe from above
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [11]:
# now convert our list to dataframe 
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

# initialize the empty df 
schools_df = pd.DataFrame()

# add to the empty df by each list
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school

# Print the df for each
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [12]:
# same output as previous df but creating df as Python dictionary from 3 lists
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

schools_df =pd.DataFrame()
schools_df["High Schools"] = high_schools_dict
schools_df

            High Schools
School ID      School ID
school_name  school_name
type                type

In [ ]:
# anatomy of df section