In [1]:
# add pandas dependency

import pandas as pd 

# declare 2 variables 
# files to load 

school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [2]:
# Determine if there are any missing values in the student data CSV
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [3]:
# Determine if there are any missing values in the student data CSV
student_data_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [4]:
# Determine if there are not any missing values in the student data CSV
student_data_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [5]:
# determine the data types for the school df 
school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [6]:
# determine the data types for the student df
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [7]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

# school_data_complete df is our new merged df 
# we include our 2 others df to merge
# on is equal to a list of columns that are identical

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [8]:
# using count() with our new merged df to find all items in each row for each column that is not null 
# get total # of students 
student_count = school_data_complete_df.count()
student_count

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [9]:
# once we checked that each column has 39,710 rows
# choose any of these columns to get student count 
# this our preferred method to find the df merged # of students
school_data_complete_df["Student ID"].count()

39170

In [10]:
# Calculate the total number of schools
school_count_2 = school_data_complete_df["school_name"].unique()
school_count_2

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [11]:
# get number of high schools from previous array
len(school_data_complete_df["school_name"].unique())

15

In [12]:
# Calculate the total budget through the df
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [13]:
# Calculate the average reading score through our df
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [14]:
# Calculate the average math score through our df
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [15]:
# Get % of students who passed math/reading

# 1. determine passing grade (district standard is 70)
passing_math = school_data_complete_df["math_score"] >= 70
passing_reading = school_data_complete_df["reading_score"] >= 70
passing_math
passing_reading

0        False
1         True
2         True
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Name: reading_score, Length: 39170, dtype: bool

In [16]:
# 2. Get # of students who passed math/reading in seperate dfs
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [17]:
# Get all the students that are passing reading in a new DataFrame.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
passing_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [18]:
# 3. Calculate # of students who passed math/reading 
# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()
print(passing_math_count)
# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()
print(passing_reading_count)

29370
33610

In [19]:
# 4. Calculate % of students who passed math/reading 
# want to take numbers and dive by total # of students, then * 100 as float

# Calculate the percent that passed math.
passing_math_percentage = passing_math_count / (student_count) * 100
print(passing_math_percentage)

# Calculate the percent that passed reading.
passing_reading_percentage = passing_reading_count / (student_count) * 100
print(passing_reading_percentage)

Student ID       74.980853
student_name     74.980853
gender           74.980853
grade            74.980853
school_name      74.980853
reading_score    74.980853
math_score       74.980853
School ID        74.980853
type             74.980853
size             74.980853
budget           74.980853
dtype: float64
Student ID       85.805463
student_name     85.805463
gender           85.805463
grade            85.805463
school_name      85.805463
reading_score    85.805463
math_score       85.805463
School ID        85.805463
type             85.805463
size             85.805463
budget           85.805463
dtype: float64

In [20]:
# Get overall passing % 

# 1. Get # of students who passed both math/reading in a df 
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading.head()
passing_math_reading.student_name.count()

25528

In [21]:
# 2. Calculate # of students who passed both math/reading
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

25528

In [22]:
# 3. Calculate % of students who passed both math/reading
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

Student ID       65.172326
student_name     65.172326
gender           65.172326
grade            65.172326
school_name      65.172326
reading_score    65.172326
math_score       65.172326
School ID        65.172326
type             65.172326
size             65.172326
budget           65.172326
dtype: float64

In [23]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count_2,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,"[Huang High School, Figueroa High School, Shel...",Student ID 39170 student_name 39170 ...,24649428,78.985371,81.87784,Student ID 74.980853 student_name 74...,Student ID 85.805463 student_name 85...,Student ID 65.172326 student_name 65...

In [63]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,"[Huang High School, Figueroa High School, Shel...",Student ID 39170 student_name 39170 ...,24649428,78.985371,81.87784,Student ID 74.980853 student_name 74...,Student ID 85.805463 student_name 85...,Student ID 65.172326 student_name 65...

In [25]:
# Determine the school type. 4.8.1
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [26]:
# Add the per_school_types into a DataFrame for testing.
df = pd.DataFrame(per_school_types)
df

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [27]:
# get the student count per school. 4.8.2
# we have school_data_df and school_data_complete_df 
# use both dfs to get the # of students

# for the first df school_data_df; "size" is the student count
per_school_counts = school_data_df.set_index(["school_name"])["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [28]:
# get the student count for the 2nd df 
# count # of times a high school appears in the school_name column 
# use the value_counts() to return a series of data w/ number of times school_name appears

per_school_counts = school_data_complete_df["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [29]:
# get the budget per student 4.8.3
# we will add next to total students column 
# get the budget per school, then divide by per_school_counts

# look at the school_data_ df and the "budget" column
# similar use of set_index as when we found the df w/ school name and size

per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [30]:
# now we can take the budgets in the school name and divide by per_school_counts
per_school_capita = per_school_budget / per_school_counts
per_school_capita
# the output shows the school name as our index, and... 
# column for budget per student

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [31]:
# get average scores per school 4.8.4
# finding average math and reading scores per school 
# use mean() method
# mimic how we found the school budget in school_data_df w/ set_index()

student_school_math = student_data_df.set_index(["school_name"])["math_score"]
student_school_math

# output shows every occurrence of school names as index... 
# math grade from each student 
# note, we cannot use school_data_df b/c it had no math grades

school_name
Huang High School     79
Huang High School     61
Huang High School     60
Huang High School     58
Huang High School     84
                      ..
Thomas High School    90
Thomas High School    70
Thomas High School    84
Thomas High School    90
Thomas High School    75
Name: math_score, Length: 39170, dtype: int64

In [32]:
# can use groupby() and mean() to split an object like our df
# we can then combine the results from the split
# Calculate the average math scores 

per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_math

# output shows the df with index as school names, then the math scores

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [33]:
# do the same as previous but for reading scores averages
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [37]:
# want to find the passing perentages overall 4.8.5
# 1. find the passing grades >=70
# 2. get # of students who passed both math and reading
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [39]:
# same, but for reading
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]
per_school_passing_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [40]:
# based off our past two outputs, need the average scores for math and reading
# to find these, use the groupby() to split w/ count()
# 4.8.5
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_math

per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading

# error in finding student_name

KeyError: 'student_name'

In [41]:
# find the percentage who pass math and reading 
# divide per_school_passing_math or reading by per_school_counts * 100

per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_math

per_school_passing_reading = per_school_passing_reading / per_school_counts * 100
per_school_passing_reading

# we expect the index as school names...
# column as % of students who passed both math and reading

,Bailey High School,Cabrera High School,Figueroa High School,Ford High School,Griffin High School,Hernandez High School,Holden High School,Huang High School,Johnson High School,Pena High School,...,Wright High School,budget,gender,grade,math_score,reading_score,school_name,size,student_name,type
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
# now we can get the overall passing percentage for all students, each school
# to go this, find those who passed math+reading then divide by total # students
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

per_passing_math_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [43]:
# now we can get total # students from each school instead of %
# use previous df then set index to school name
# use count() for student_name
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]
per_passing_math_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: student_name, dtype: int64

In [72]:
# final piece, we find the % from previous 
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100
per_overall_passing_percentage

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [71]:
# create school summary Df 4.8.6
# our column will be the keys 
# values will be each data piece retrieved or calculated
# Adding a list of values with keys to create a new DataFrame.

per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math,
           "Average Reading Score": per_school_reading,
           "% Passing Math": per_school_passing_math,
           "% Passing Reading": per_school_passing_reading,
           "% Overall Passing": per_overall_passing_percentage})
per_school_summary_df.head()

# outputs are correct but we now want to apply formats to: 
# total school budget, per student budget

# ERROR HERE??

ValueError: Buffer has wrong number of dimensions (expected 1, got 2)

In [47]:
# to format all columns in our prevous df 4.8.7
# use map() with formatting inside ()
# Format the Total School Budget and the Per Student Budget columns

per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)


# Display the data frame
per_school_summary_df.head()

NameError: name 'per_school_summary_df' is not defined

In [ ]:
# want to find which schools are highest performing based on: 
# overall % of passing students 
# display top five performing schools with a sort function 4.9.1

# sort_values() to sort our df passed through our ()
# ascending = False = high to low
# ascending = True = low to high

top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)

top_schools.head()

In [50]:
# now do the same as pervious but find lowest performing 4.9.2
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"],
ascending=True)

bottom_schools.head()

NameError: name 'per_school_summary_df' is not defined

In [ ]:
# create 2 new dfs
# df 1 will display average moth scores per grade 
# df 2 wil show average reading scores per grade 
# group each by name of the school

In [49]:
# Create 9th-12th dfs 

ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]
print(ninth_graders.head())


tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]
print(tenth_graders.head())

eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]
print(eleventh_graders.head())

twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]
print(twelfth_graders.head())

    Student ID     student_name gender grade        school_name  \
0            0     Paul Bradley      M   9th  Huang High School
4            4       Bonnie Ray      F   9th  Huang High School
5            5    Bryan Miranda      M   9th  Huang High School
12          12  Brittney Walker      F   9th  Huang High School
13          13     William Long      M   9th  Huang High School

    reading_score  math_score  School ID      type  size   budget
0              66          79          0  District  2917  1910635
4              97          84          0  District  2917  1910635
5              94          94          0  District  2917  1910635
12             64          79          0  District  2917  1910635
13             71          79          0  District  2917  1910635
    Student ID      student_name gender grade        school_name  \
8            8      Michael Roth      M  10th  Huang High School
9            9    Matthew Greene      M  10th  Huang High School
10          10  Andrew Alexander      M  10th  Huang High School
11          11     Daniel Cooper      M  10th  Huang High School
14          14      Tammy Hebert      F  10th  Huang High School

    reading_score  math_score  School ID      type  size   budget
8              95          87          0  District  2917  1910635
9              96          84          0  District  2917  1910635
10             90          70          0  District  2917  1910635
11             78          77          0  District  2917  1910635
14             85          67          0  District  2917  1910635
    Student ID       student_name gender grade        school_name  \
6            6      Sheena Carter      F  11th  Huang High School
15          15  Dr. Jordan Carson      M  11th  Huang High School
22          22   Kimberly Stewart      F  11th  Huang High School
24          24   Chelsea Griffith      F  11th  Huang High School
28          28        Kelly James      F  11th  Huang High School

    reading_score  math_score  School ID      type  size   budget
6              82          80          0  District  2917  1910635
15             94          88          0  District  2917  1910635
22             99          84          0  District  2917  1910635
24             85          73          0  District  2917  1910635
28             73          55          0  District  2917  1910635
    Student ID       student_name gender grade        school_name  \
1            1       Victor Smith      M  12th  Huang High School
2            2    Kevin Rodriguez      M  12th  Huang High School
3            3  Dr. Richard Scott      M  12th  Huang High School
7            7       Nicole Baker      F  12th  Huang High School
29          29       Nicole Brown      F  12th  Huang High School

    reading_score  math_score  School ID      type  size   budget
1              94          61          0  District  2917  1910635
2              90          60          0  District  2917  1910635
3              67          58          0  District  2917  1910635
7              96          69          0  District  2917  1910635
29             90          88          0  District  2917  1910635

In [73]:
# with 9-12 grade scores mapped out, now we take the averages by grade, grouped by school_name
# use mean() and groupby()

# grouped grade dfs by school name for math scores average

ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
print(ninth_grade_math_scores)

tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]

eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]

twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [ ]:
# do the same but for reading 

ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
print(ninth_grade_reading_scores)

tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]

eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]

twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]
print(twelfth_grade_reading_scores)

In [ ]:
# now we can combine each grade level series into df 4.10.3
# df for math

math_scores_by_grade = pd.DataFrame({
               "9th": ninth_grade_math_scores,
               "10th": tenth_grade_math_scores,
               "11th": eleventh_grade_math_scores,
               "12th": twelfth_grade_math_scores})

math_scores_by_grade.head()

In [ ]:
# do the same, build df for reading 4.10.3
reading_scores_by_grade = pd.DataFrame({
              "9th": ninth_grade_reading_scores,
              "10th": tenth_grade_reading_scores,
              "11th": eleventh_grade_reading_scores,
              "12th": twelfth_grade_reading_scores})

reading_scores_by_grade.head()

In [ ]:
# now we can use the dfs to format the reading/math averages to one decimal place, remove name index column 
# 4.10.4
# Format each grade column.
math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.1f}".format)

math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:.1f}".format)

math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:.1f}".format)

math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:.1f}".format)

# Make sure the columns are in the correct order.
math_scores_by_grade = math_scores_by_grade[["9th", "10th", "11th", "12th"]]

# Remove the index name.
math_scores_by_grade.index.name = None
# Display the DataFrame.
math_scores_by_grade.head()

In [ ]:
# we can do the same for reading columns and index
reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:,.1f}".format)

reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:,.1f}".format)

reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:,.1f}".format)

reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:,.1f}".format)

# Make sure the columns are in the correct order.
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]

# Remove the index name.
reading_scores_by_grade.index.name = None
# Display the data frame.
reading_scores_by_grade.head()

In [ ]:
# 4.11.1 new question: how does school spending per student affect: 
# 1. school average scores
# 2. passing percentages 
# create 4 bins or ranges for spending per student

# each bin will have: average math/reading scores, % students passing math/reading
# and...overall passsing % (average of % of students passing math/reading)

In [52]:
# get spending ranges
# describe() to find spending per student distribution 
#Get the descriptive statistics for the per_school_capita.
per_school_capita.describe()

# output shows min 578, max 655
# set 585 as lowest b/c 4 schools spend less than that
# sd of 30, increase bin to 675
# bins = 0-585, 586-615, 616-645, 646-675
spending_bins = [0, 585, 630, 645, 675]

In [55]:
# group series on spending ranges
# cut() to sort the values into bins 
# pd.cut(df, ranges)
spending_bins = [0, 585, 630, 645, 675]
pd.cut(per_school_capita, spending_bins)

# output shows the range of spending as wanted, instead of specific budget amount
# when we don't place the 0; 4 lowest high schools are cut out even with our low range

Bailey High School       (615, 645]
Cabrera High School        (0, 585]
Figueroa High School     (615, 645]
Ford High School         (615, 645]
Griffin High School      (615, 645]
Hernandez High School    (645, 675]
Holden High School         (0, 585]
Huang High School        (645, 675]
Johnson High School      (645, 675]
Pena High School         (585, 615]
Rodriguez High School    (615, 645]
Shelton High School      (585, 615]
Thomas High School       (615, 645]
Wilson High School         (0, 585]
Wright High School         (0, 585]
dtype: category
Categories (4, interval[int64, right]): [(0, 585] < (585, 615] < (615, 645] < (645, 675]]

In [57]:
# find how many schools are in each range by grouping 4.11.2
spending_bins = [0, 585, 630, 645, 675]
per_school_capita.groupby(pd.cut(per_school_capita, spending_bins)).count()

# if our distribution of schools in each range was >4...
# may want to adjust our ranges +- to have a even split

# NOTE: Once we have the ranges, we transfer to str list below!!!

(0, 585]      4
(585, 630]    4
(630, 645]    4
(645, 675]    3
dtype: int64

In [59]:
# label the ranges using str list values 
spending_bins = [0, 585, 630, 645, 675]
group_names = ["<$586", "$586-630", "$631-645", "$646-675"]
group_names

['<$586', '$586-630', '$631-645', '$646-675']

In [64]:
# add a column to our df to assign the 4 bins 
per_school_summary_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names)

per_school_summary_df

# spending ranges(per student) is our new column 
# column will have values specificly found by cut() function
# in the cut, we add perschoolcapita
# the cut data needs to be one-dimensional array
# spending bins inside () and also placed a label str created in previous cell

NameError: name 'per_school_summary_df' is not defined

In [75]:
# 4.11.3 wants to find a new df for averages based on bins
# Calculate averages for the desired columns

spending_math_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]

spending_reading_scores = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]

spending_passing_math = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]

spending_passing_reading = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]

overall_passing_spending = per_school_summary_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

NameError: name 'per_school_summary_df' is not defined

In [77]:
# 4.11.4 create a df for scores by school spending
# df = pd.DataFrame({"column name": column values}) is our general format

spending_summary_df = pd.DataFrame({
          "Average Math Score" : spending_math_scores,
          "Average Reading Score": spending_reading_scores,
          "% Passing Math": spending_passing_math,
          "% Passing Reading": spending_passing_reading,
          "% Overall Passing": overall_passing_spending})

spending_summary_df

NameError: name 'spending_math_scores' is not defined

In [78]:
# reformat the spending_summary_df 
spending_summary_df["Average Math Score"] = spending_summary_df["Average Math Score"].map("{:.1f}".format)

spending_summary_df["Average Reading Score"] = spending_summary_df["Average Reading Score"].map("{:.1f}".format)

spending_summary_df["% Passing Math"] = spending_summary_df["% Passing Math"].map("{:.0f}".format)

spending_summary_df["% Passing Reading"] = spending_summary_df["% Passing Reading"].map("{:.0f}".format)

spending_summary_df["% Overall Passing"] = spending_summary_df["% Overall Passing"].map("{:.0f}".format)

spending_summary_df

NameError: name 'spending_summary_df' is not defined